div.left-side {
  width: 40%;
}

div.right-side {
  width: 60%;
}

div.content span {
  color: gray;
  line-height: 30px;
}


div.contact-code img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border : 1px solid white;
}

[class^="social-icon-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  font-size: 20px;
  margin: 7.5px;
  color: white;
  cursor: pointer;
}

span.social-icon-facebook {
  background-color: #1877F2;
}

span.social-icon-facebook:hover {
  background-color: #1DA1F2;
}

span.social-icon-twitter {
  background-color: #1DA1F2;
}

span.social-icon-twitter:hover {
  background-color: #1877F2;
}

span.social-icon-youtube {
  background-color: #FF0000;
}

span.social-icon-youtube:hover {
  background-color: #F00073;
}

span.social-icon-instagram {
  background-color: #F00073;
}

span.social-icon-instagram:hover {
  background-color: #FF0000;
}

