.dashboard-side-menu {
  position: fixed;
  height: 100vh;
  width: 250px;
  background: #f9f9f9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 11;
}

.dashboard-side-menu.hide {
  display: none;
}

.dashboard-side-menu>.side-menu-logo {
  width: 100%;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-side-menu>.side-menu-logo img {
  width: 90px;
  height: 85px;
}

.dashboard-header {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  box-shadow: 3px 3px 7px -1px rgb(0 0 0 / 25%);
  background: #f9f9f9;
  z-index: 10;
  position: fixed;
  width: 100%;
}

.dashboard-header .dashboard-header-title {
  color: #f96302;
  font-size: 25px;
}

.dashboard-header.expandable {
  left: 250px;
  top: 0;
}

.dashboard-container {
  position: relative;
  top: 80px;
  padding: 20px;
  width: 100%;
}

.dashboard-container.expandable {
  left: 250px;
  width: calc(100% - 250px);
}

.form-check-input:checked {
  background-color: #f96302 !important;
  border-color: #f96302 !important;
}

.dashboard-top-avatar {
  margin-left: calc(100% - 30%);
}