div.top-banner {
  width: 100%;
  height: 50px;
  background-color: #F9F9F9;
}

div.main-menu-bar {
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 1px;
}

div.logo {
  width: 60px;
  height: 60px;
}

div.main-menu-bar ul li a {
  color: black;
  font-size: 14px;
}

div.main-menu-bar ul li a:hover {
  cursor: pointer;
  color: #F96302;
}

/* div.menu-bar ul li a.active {
  color: #F96302;
} */

.top-leader {
  position: relative;
  padding-left:5%;
  padding-right:5%;
}

.top-leader::after {
  content: " ";
  position: absolute;
  right: -26px;
  top: 0;
  height: 100%;
  width: 58px;
  transform: skewX(-25deg);
  background-color: #F96302;
}

.top-leader-res {
  position: relative;
}

.top-leader-res::after {
  content: " ";
  position: absolute;
  right: -26px;
  top: 0;
  height: 100%;
  width: 58px;
  transform: skewX(-25deg);
  background-color: #F96302;
}

div.top-login span:hover {
  cursor: pointer;
  color: aqua;
}